[Desktop Entry]
Name=CCP Sambia Backup
Exec=bash -c 'cd ~/Nextcloud/hermes/; node .;$SHELL'
Terminal=true
Type=Application
Icon=/home/gast/.icons/ccporb.png
