[Desktop Entry]
Name=CCP Sambia Backup
Exec=bash -c 'cd ~/cli-backup/; node index.js'
Terminal=true
Type=Application
Icon=/home/gast/.icons/ccporb.png
